{% extends "base.html" %}

{% block title %}Courses{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/course-inner.css') }}">
{% endblock %}

{% block content %}

<!-- Hero section -->
<section id="about-home">
    <h2>Enroll Our Popular Courses And Skill Up</h2>
</section>

<!-- Course body section -->
<section id="course-inner">
    <div class="overview">
        <img class="course-img" src="{{ url_for('static', filename='img/c1.jpg') }}" alt="">

        <div class="course-head">
            <div class="c-name">
                <h2>Javascript Beginners Course</h2>

                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>

                <p>
                    Modern javascript from the beginning - all the way up to JS expert level!
                    The must-have JavaScript resource in 2021.
                </p>
            </div>
            <span>$49.99</span>
        </div>

        <h3>Instructor</h3>
        <div class="tutor">
            <img src="{{ url_for('static', filename='img/c4.jpg') }}" alt="">
            <div class="tutor-det">
                <h5>John Doe</h5>
                <p>Web Developer At Google</p>
            </div>
        </div>

        <hr>

        <h3>Course Overview</h3>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aut ipsa quam impedit accusamus labore eligendi neque cupiditate repellat asperiores!
        </p>
        <br>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing, elit. Modi reprehenderit dolorum nemo voluptatibus, ad nam, blanditiis ipsa pariatur, assumenda animi repellendus vero omnis fuga quas, est? Vitae, reprehenderit quo quas.
        </p>
        <br>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit recusandae tempore quia repellat officiis voluptatum blanditiis, cupiditate, sit minus beatae distinctio, numquam illum alias repellendus ad quis earum voluptatibus iusto.
        </p>

        <hr>

        <h3>What you'll learn</h3>

        <div class="learn">
            <p><i class="far fa-check-circle"></i> Lorem, ipsum dolor sit amet consectetur.</p>
            <p><i class="far fa-check-circle"></i> Lorem, ipsum dolor sit amet consectetur.</p>
            <p><i class="far fa-check-circle"></i> Lorem, ipsum dolor sit amet consectetur.</p>
            <p><i class="far fa-check-circle"></i> Lorem, ipsum dolor sit amet consectetur.</p>
            <p><i class="far fa-check-circle"></i> Lorem, ipsum dolor sit amet consectetur.</p>
            <p><i class="far fa-check-circle"></i> Lorem, ipsum dolor sit amet consectetur.</p>

            <div class="enroll-btn">
                <a href="#" class="blue">Enroll Course</a>
            </div>
        </div>
    </div>

    <div class="enroll">
        <h3>This course includes:</h3>

        <p><i class="fa-solid fa-video"></i> 52 Hours video</p>
        <p><i class="fa-solid fa-newspaper"></i> 5 Articles</p>
        <p><i class="fa-solid fa-download"></i> Downloadable resources</p>
        <p><i class="fa-solid fa-key"></i> Full Lifetime access</p>
        <p><i class="fa-solid fa-tv"></i> Access on mobile and TV</p>
        <p><i class="fa-solid fa-paperclip"></i> Assignments</p>

        <div class="enroll-btn">
            <a href="#" class="blue">Enroll Course</a>
        </div>
    </div>
</section>

{% endblock %}
